/* HEADER */
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
}

header img {
    width: 8rem;
}

/* TAGS */
[data-toggle='on'] {
    display: block;
}

[data-toggle='off'] {
    display: none;
}

header nav ul {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    top: 90px;
    left: 20px;
    right: 20px;
}

header nav a {
    font-size: 12px;
    color: #901C1C;
    margin: 0 0.1875rem;
    text-decoration: none;
}

header nav li {
    text-align: center;
    font-size: 12px;
    border-radius: 0.6875rem;
    padding: 0.0625rem 0.375rem;
    color: #901C1C;
    margin: 0 0.1875rem;
    text-decoration: none;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    transition: all 0.2s;
    margin-bottom: 0.3rem;
}

header nav li:hover {
    background-color: #901C1C;
    color: #fff;
}

.active {
    background-color: #901C1C;
    color: #fff;
}

/* BUTTON 'Passer au contenu' */
#main-photographers_link {
    display: none;
    background: #DB8876;
    color: #000;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    position: fixed;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: all 0.4s linear;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 182px;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    flex-wrap: nowrap;
}

header h1 {
    font-size: 14px;
    width: fit-content;
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
}

/* PHOTOGRAPHERS SECTION */
#photographers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.photographer-container {
    width: 22rem;
    margin: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}

#photographers img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    background-color: rgb(89, 206, 38);
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
}

#photographers img:hover {
    box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
    transform: scale(1.05);
    cursor: pointer;
}

.name {
    color: #D3573C;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.price {
    color: #757575;
    margin: 0;
}

.location {
    color: #901C1C;
    margin: 0.2rem;
}

.tagline {
    margin: 0;
}

.photographer-container a {
    text-decoration: none;
}

.ping {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-right: 3rem;
}

.tags {
    border: 0.5px solid #FAFAFA;
    border-radius: 0.6875rem;
    padding: 0.0625rem 0.375rem;
    color: #901C1C;
    margin: 0 0.1875rem;
    text-decoration: none;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    transition: all 0.2s;
    list-style: none;
}

.tags:hover {
    background-color: #901C1C;
    color: #fff;
}

.tags.selected {
    background-color: #901C1C;
    color: #fff;
}

@media screen and (min-width: 1170px) {

    /* HEADER */
    header {
        margin-top: 0;
    }

    header img {
        width: 12.5rem;
    }

    header nav ul {
        top: 30px;
        justify-content: center;
    }

    header nav a {
        margin-bottom: 0rem;
    }

    header h1 {
        font-size: 1.8em;
    }

    #photographers {
        margin-top: 5rem;
    }

    .tags {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
}
