@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif
}

html {
    scroll-behavior: smooth
}

/* HEADER */
header {
    align-items: center;
    margin: 2rem;
}

header img {
    width: 12.5rem;
}

/* HEADER PHOTOGRAPH */
main header {
    background-color: #FAFAFA;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    width: 95%;
    height: fit-content;
}

/* DROPDOWN */
#container-dropDownMenu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.625rem;
}

#container-dropDownMenu p {
    margin: 0 1.25rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.menu-button {
    font-weight: 700;
    overflow: hidden;
    background-color: #901C1C;
    width: 9.375rem;
    height: 3.75rem;
    margin: 15px;
    padding: 5px 15px 15px 5px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.container a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 0 10px 10px;
}

.container button {
    border: none;
    outline: none;
    background-color: #901C1C;
    color: #FFF;
    cursor: pointer;
    width: 30px;
    height: 20px;
    font-size: large;
}

.container button i {
    transition: all 0.5s;
    transform: rotateZ(0deg);
}

#menu-dropdown {
    list-style: none;
    position: relative;
    top: -300px;
    transition: all 0.5s;
}

#menu-dropdown li {
    padding: 10px 0 10px 10px;
}

#menu-dropdown li a {
    text-decoration: none;
    color: #FFF;
}